body {
	--color-background: #f5f5f5;
	--color-text-primary: #121212;
	--color-base: #c6c6c6;
	--color-border: #898989;

	background-color: var(--color-background);
	color: var(--color-text-primary);
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

button {
	border: 1px solid var(--color-border);
	background-color: var(--color-base);
	color: inherit;
	font-size: inherit;
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	transition: background-color 50ms ease-out;
}

button:active {
	background-color: var(--color-border);
	scale: 0.95;
}

@media (prefers-color-scheme: dark) {
	body {
		--color-background: #121212;
		--color-text-primary: #f5f5f5;
	}

	button {
		--color-base: #1f1f1f;
		--color-border: #898989;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
